* {
  font-family: "Comfortaa", sans-serif;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  font-size: 12pt;
  white-space: nowrap; /* this code was taken from chatgpt */
}

#logo {
  font-weight: bolder;
  font-size: 20pt;
  margin-left: 1rem;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 3rem;
}

/* BODY */

body {
  background-color: lightgrey;
}

h1 {
  font-size: 18pt;
  margin-left: 3px;
}

h2 {
  font-size: 15pt;
}

.container {
  width: 80%;
  margin: 40px;
}

.contact-box {
  background-color: white;
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 20px 40px;
  padding-bottom: 40px;
  color: rgb(85, 85, 85);
  font-size: 14px;
}

.input-row {
  flex-basis: 45%;
}
input {
  width: 100%;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid rgb(85, 85, 85);
  outline: none;
  padding-bottom: 5px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
textarea {
  width: 100%;
  border: 1px solid rgb(85, 85, 85);
  outline: none;
  padding: 10px;
  margin-top: 5px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background-color: rgb(85, 85, 85);
  color: white;
}

/* FOOTER */
footer {
  font-size: 15pt;
  border-top: 2px solid grey;
  margin-top: 32px;
}

@media screen and (max-width: 615px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  li {
    margin-left: 0px;
  }
  #logo {
    margin-left: 38px;
    margin-bottom: 0;
  }
}
