* {
  font-family: "Comfortaa", sans-serif;
}

/* HEADER */

#logo {
  font-weight: bolder;
  font-size: 20pt;
  margin-left: 1rem;
}

header {
  display: flex;
  font-size: 12pt;
  align-items: center;
  white-space: nowrap; /* this code was taken from chatgpt */
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 2rem;
}

/* BODY */
body {
  background-color: lightgrey;
}
h1 {
  font-size: 18pt;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

img {
  width: 80%;
}

figcaption {
  padding-top: 10px;
  font-size: 15pt;
}

figure {
  padding-bottom: 30px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 615px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  li {
    margin-left: 0px;
  }
  #logo {
    margin-left: 38px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 615px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
