/*ALL PAGES*/

* {
  font-family: "Comfortaa", sans-serif;
}

body {
  background-color: lightyellow;
  line-height: 1.5;
}

h1 {
  font-size: 18pt;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  color: darkgreen;
}

h2 {
  font-size: 18pt;
}

/*header*/
#logo {
  font-weight: bolder;
  font-size: 20pt;
  margin-left: 1rem;
}

header {
  display: flex;
  font-size: 12pt;
  align-items: center;
  white-space: nowrap;
  border-bottom: 2px solid darkgreen;
}

#header-ul {
  display: flex;
  list-style: none;
}

.header-li {
  margin-left: 2rem;
}

nav a {
  font-size: 12pt;
  color: black;
  transition: font-size 0.2s ease-in-out;
}

nav a:hover {
  font-size: 14pt;
}

@media screen and (max-width: 615px) {
  header {
    flex-direction: column;
  }
  #logo {
    align-items: center;
  }
  .header.li {
    margin-left: 0px;
  }
  img {
    margin-left: 1rem;
  }
}

/*footer*/
footer {
  font-size: 15pt;
  border-top: 1px solid darkgreen;
  margin-top: 2rem;
  margin-left: 2px;
}

/*ABOUT ME*/

#mypic {
  width: 20rem;
  height: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  align-items: right;
}

.text-box {
  overflow: hidden;
  padding-left: 20px;
  max-width: 50%;
}

.container {
  display: flex;
}

h3 {
  margin-top: 2rem;
  color: darkgreen;
}

#contact-box {
  color: black;
  padding: 1rem;
  width: 18rem;
  margin-left: 5rem;
}

.icons {
  width: 1.5rem;
  padding-right: 2rem;
}

@media screen and (max-width: 800px) {
  .container {
    display: initial;
  }

  .text-box {
    max-width: 80%;
  }

  #mypic {
    padding-left: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  #contact-box {
    margin-left: 1rem;
  }

  .icons {
    padding-right: 1rem;
  }
}

/*MY WORKS PAGE*/

/*grid*/
img {
  width: 100%;
}

figcaption {
  padding-top: 10px;
  font-size: 15pt;
  color: black;
}

.myworks-fig {
  padding-bottom: 30px;
  width: 80%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.myworks-fig:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 615px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  li {
    margin-left: 0px;
  }
  #logo {
    margin-left: 38px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 615px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

/*GROOVES&BREWS*/
img {
  width: 80%;
}

figcaption {
  padding-top: 10px;
  font-size: 12pt;
  white-space: nowrap;
}

figure {
  padding-bottom: 30px;
}

#visualidentity-description {
  width: 90%;
  padding-left: 5%;
}

@media screen and (min-width: 615px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

/*DETAIL PAGE WORKS*/

.work-description {
  width: 90%;
  padding-left: 2rem;
}

.magazine-pics,
#comicpic,
#coffeetablebookpic {
  margin-left: 10%;
}

#website-link {
  color: darkgreen;
}
