* {
  font-family: "Comfortaa", sans-serif;
}

/* HEADER */

#logo {
  font-weight: bolder;
  font-size: 20pt;
  margin-left: 1rem;
}

header {
  display: flex;
  font-size: 12pt;
  align-items: center;
  white-space: nowrap; /* this code was taken from chatgpt */
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 2rem;
}

nav a {
  font-size: 12pt;
  transition: font-size 0.3s ease-in-out;
}

nav a:hover {
  font-size: 14pt;
}

/* BODY */

h2 {
  font-size: 18pt;
}

body {
  background-color: lightgrey;
  line-height: 1.5;
}

img {
  width: 30rem;
  margin-top: 0;
  margin-left: 50px;
}

.text-box {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  padding-left: 20px;
}

/* FOOTER */
footer {
  font-size: 15pt;
  border-top: 1px solid grey;
  margin-top: 2rem;
  margin-left: 2px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 615px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  li {
    margin-left: 0px;
  }
  #logo {
    margin-left: 38px;
    margin-bottom: 0;
  }
  img {
    margin-left: 0;
  }
}

@media screen and (min-width: 880px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}
